<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="xmlns://www.fortifysoftware.com/schema/pluginmanifest-1.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="PluginDescriptor"
        id="com.example.parser" api-version="1.0">
    <plugin-info>
        <name>Parser API implementation example</name>
        <version>1.0</version>
        <data-version>1</data-version>
        <vendor name="Example vendor" url="https://www.example.com/"/>
        <description>Parser API implementation example</description>
        <resources>
            <localization>
                <language id="default" location="/resources/black_duck_parser.txt"/>
                <language id="en" location="/resources/black_duck_parser.txt"/>
                <language id="ru" location="/resources/black_duck_parser_ru.txt"/>
            </localization>
            <images>
                <image imageType="icon" location="/images/blackduck-icon.png"/>
                <image imageType="logo" location="/images/blackduck-logo.png"/>
            </images>
        </resources>
        <configuration>
            <plugin-parameters>
                <param name="StringParameter" type="STRING"/>
                <param name="DecimalParameter" type="DECIMAL"/>
                <param name="DateParameter" type="DATE"/>
            </plugin-parameters>
        </configuration>
    </plugin-info>
    <issue-parser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <engine-type>SAMPLE</engine-type>
        <view-template location="/viewtemplate/BlackDuckTemplate.json">
            <description>Default BlackDuck vulnerability view template.</description>
        </view-template>
    </issue-parser>
</plugin>

